<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
    <servlet>
        <servlet-name>hello_world_servlet</servlet-name>
        <servlet-class>com.nk.webapp.HelloWorldServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>hello_world_servlet</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>first_filter</filter-name>
        <filter-class>com.nk.webapp.FirstFilter</filter-class>
    </filter>
    <filter>
        <filter-name>second_filter</filter-name>
        <filter-class>com.nk.webapp.SecondFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>first_filter</filter-name>
        <servlet-name>hello_world_servlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>second_filter</filter-name>
        <servlet-name>hello_world_servlet</servlet-name>
    </filter-mapping>

</web-app>